* {
   margin: 0;
   padding: 0;
   font-family: "Montserrat", sans-serif;
   box-sizing: border-box;
   font-size: 15px;
}

body {
   font-weight: 400;
   line-height: 1.8em;
}

p {
   font-family: "Roboto", sans-serif;
}

@include responsive("extra-large-down") {
   body {
      font-size: 14px;
   }

   .container {
      padding: 0;
   }
}
